services:
  nginx:
    image: nginx:mbaanni
    build: requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/html

    ports:
      - "443:443"
      - "80:80"
    networks:
      - testo
    restart: always

  wordpress:
    image: wordpress:mbaanni
    build: requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    networks:
      - testo
    environment:
      DATABASE_USER : "{{ DATABASE_USER }}"
      DATABASE_PASS : "{{ DATABASE_PASS }}"
      DATABASE_NAME : "{{ DATABASE_NAME }}"

      WORDPRESS_TITLE : "{{ WORDPRESS_TITLE }}"
      WORDPRESS_URL : "{{ WORDPRESS_URL }}"
      WORDPRESS_ADMIN : "{{ WORDPRESS_ADMIN }}"
      WORDPRESS_ADMIN_EMAIL : "{{ WORDPRESS_ADMIN_EMAIL }}"
      WORDPRESS_ADMIN_PASS : "{{ WORDPRESS_ADMIN_PASS }}"
      WORDPRESS_USER : "{{ WORDPRESS_USER }}"
      WORDPRESS_USER_PASS : "{{ WORDPRESS_USER_PASS }}"
      WORDPRESS_USER_EMAIL : "{{ WORDPRESS_USER_EMAIL }}"
    restart: always

  mariadb:
    image: mariadb:mbaanni
    build: requirements/mariadb
    container_name: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - testo
    environment:
      DATABASE_NAME: "{{ DATABASE_NAME }}"
      DATABASE_USER: "{{ DATABASE_USER }}"
      DATABASE_PASS: "{{ DATABASE_PASS }}"
      DATABASE_ROOT_PASS: "{{ DATABASE_ROOT_PASS }}"
    restart: always

  my-php-admin:
    image: phpmyadmin:apache
    container_name: phpmyadmin
    depends_on:
      - mariadb
    networks:
      - testo
    environment:
      PMA_HOST: "{{ DATABASE_NAME }}"
      PMA_PORT: "{{ DATABASE_PORT }}"
    restart: always

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      device: "{{ DATA_DIR }}/wordpress"
      o: bind

  mariadb:
    driver: local
    driver_opts:
      type: none
      device: "{{ DATA_DIR }}/mariadb"
      o: bind

networks:
  testo:
    driver: bridge